/*Zerando tags padrão *0.1---------------------------------------------------------------*0.1*/
/*MARGENS----*/
p{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body{
    background-color: #ffffff;
}
/*MARGENS---X*/
/*0.1-------------------------------------------------------------------------------------*0.1*/

/*Edição da navbar *0--------------------------------------------------------------------*0*/
.navbar-nav, .nav-link{
    font-weight: 100;
    font-size: 12px;
}
.navbar-nav, .nav-item{
    margin: 0 25px;
}
.navbar-brand{
    margin: 0 40px;
}
.logo{
    margin: 0 -3px;
}
/*0*-------------------------------------------------------------------------------------*0*/


/*Navegação nos link/botões da navbar *1*------------------------------------------------*1*/
.btn{
    border-radius: 15px;
    height: 50px;
    position: relative;
    top: 11px;
    box-shadow: 0px;
    border: rgba(240, 248, 255, 0);
}
.colorLinkNavBar{
    color: #1b4298;
    font-weight: bold;
}
.colorLinkNavBar:hover{
    background-image: linear-gradient(
        to top left,
      #83dafd, #577ed1, #0d24a7
    );
    color: #ffffff;
    cursor: pointer;
}
/*1*-------------------------------------------------------------------------------------*1*/


/*Navegação na lista suspensa da navbar *2*----------------------------------------------*2*/
 /*Cor de fundo da lista suspensa*/
.colorDropDownList{
    background-image: linear-gradient(
        to top right,
     #0d24a7, #577ed1, #83dafd 
    );
    border: rgba(240, 248, 255, 0);
}
.colorLink{
    color:#ffffff;
    font-weight: bold;
}
.colorLink:hover{
    color:#237dddc7;
}
/*2*-------------------------------------------------------------------------------------*2*/


/*Tags para o primeiro Conteúdo *3*------------------------------------------------------*3*/
/*Div com  uma imagem de background*/
/*Colocamos o url assim, pois ele precisa sair do diretório com
 os .. e depois entrar neles de novo com o caminho original*/
 .bgImage{
    background-image: url(../imgs/home/Banner1.png);   
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: 540px; 
}
/*Parágrafo do primeiro conteúdo*/
.pContent1{
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-family: "Century751 No2 BT";
    font-size: 46px;
    font-weight: bold;
    position: center;
}
.grid0{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 34% 34%;
}
/*3*-------------------------------------------------------------------------------------*3*/


/*Tags para o segundo Conteúdo *4*-------------------------------------------------------*4*/
/*!!!DIV MESTRA!!! do segundo conteúdo parte 2*/
.divBg2{
    background-image: linear-gradient(
        to top left,
     #1100ff, #0051ff, #00a2ff
    );
    margin-top: auto;
    margin-left: auto;
    /*z-index: 900px;*/
}
/*Parágrafo do segundo conteúdo*/
.pEdit2{
    font-family: "Elephant";
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    position: center;
    margin: auto;
    margin-top: 150px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px,auto));/* O auto-fit tenta preencher com o que tenho de contúdo, enquanto o auto-fil tenta preencher colunas, independende se existir conteúdo ou não */    
}
.bEdit2-1{
    color: #1b4298;
}
.bEdit2-2{
   color:#49d4f7;
}
.u2{
    color: #fffb00;
}

/*!!!DIV MESTRA!!! do segundo conteúdo parte 3*/
.divBg3{
    background-image: linear-gradient(
        to top right,
     #00ff00, #00ff6a, #35ffab
    );
    margin-top: auto;
    margin-left: auto;
    /*z-index: 900px;*/
}
.pEdit3{
    font-family: "Elephant";
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    position: center;
    margin: auto;
    margin-top: 60px;
}
.grid3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    /* O auto-fit tenta preencher com o que tenho de contúdo, enquanto auto-fil
     tenta preencher colunas, independende se existir conteúdo ou não */    
}
.bEdit3-1{
    color: #1b981b;
}
.bEdit3-2{
   color:#496145;
}
.u3{
    color: #995608;
}

/*!!!DIV MESTRA!!! do segundo conteúdo parte 4*/
.divBg4{
 
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    /*z-index: 900px;*/
}
.bgImage4{
    background-image: url(../imgs/home/sobreElion4back.png);   
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: auto;
}
.pEdit4{
    font-family: "Elephant";
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    position: center;
    margin: auto;
    margin-top: 100px;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    /* O auto-fit tenta preencher com o que tenho de contúdo, enquanto auto-fil
     tenta preencher colunas, independende se existir conteúdo ou não */    
}
.bEdit4-1{
    color: #ffe605;
}
.bEdit4-2{
   color:#fff7b4;
}
.u4{
    color: #000000;
}

/*!!!DIV MESTRA!!! do segundo conteúdo parte 5*/
.divBg5{
    background-image: linear-gradient(
        to top right,
     #ff51e2, #ff008c, #ff0015
    );
    margin-top: auto;
    margin-left: auto;
    /*z-index: 900px;*/
}
.pEdit5{
    font-family: "Elephant";
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    position: center;
    margin: auto;
    margin-top: 60px;
}
.grid5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    /* O auto-fit tenta preencher com o que tenho de contúdo, enquanto auto-fil
     tenta preencher colunas, independende se existir conteúdo ou não */    
}
.bEdit5-1{
    color: #ff8690;
}
.aEdit5{
   color:#ff83b7;
}
.aEdit5:hover{
    color:#ea82ff;
}
.u5{
    color: #a47aff;
}
/*4*-------------------------------------------------------------------------------------*4*/


/*Link do WhatsApp *5*-------------------------------------------------------------------*5*/
.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 15px;/*position fof bottom relativ at top of pag*/
    right: 40px;
    background-color: #25d366;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888; /*Sombreamento*/
    margin: 0 -31px;
    z-index: 1000; /*Fica por cima de qualquer elemento da tela*/
}
.whatsapp-link:hover{
    background-color: #ffffff;
    color: #25d366;
    --corWhapp: #25d366;
    animation: whapp 1s alternate infinite ease-in-out;
}
.fa-whatsapp{
    margin-top: 15px;
}
/*5*-------------------------------------------------------------------------------------*5*/


/*Classic Strip *6*----------------------------------------------------------------------*6*/
/*Faixa comum antes do footer*/
.classic{
    background-color:  rgb(89, 0, 255);
    height: 20px;
}
/*6*-------------------------------------------------------------------------------------*6*/


/*Footer *7*-----------------------------------------------------------------------------*7*/
.footerBg{
    background-image: linear-gradient(
        to top right,
        #b893e2, #6f96eb, #3366d4, #421179
    );
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    list-style-type: circle;
}
.nav-list li a:hover:before {
    margin-left: 20px;
    opacity: 1;
    visibility: visible;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6ee600;
    display: inline-table;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
h5,dt{
    font-weight: bold;
    color:#ffffff;
}
dd{
    color:#ffffff;
}
.sizeIMG, p{
    width: 75%;
    color:#ffffff;
}
/*Logo do Projeto*/
.imagFooter{
    transition: all 0.5s; /* velocidade da animação*/
}
.imagFooter:hover{
    transform: scale(1.5);/* Tamanho do Zoom*/
}
/*7*-------------------------------------------------------------------------------------*7*/


/*Section Galeria*8*----------------------------------------------------------------------*8*/
.galeria1{
   margin-top: 0px;
}
/*8*-------------------------------------------------------------------------------------*8*/

/*Carroussel Galeria*9*----------------------------------------------------------------------*9*/
.CarrousselGalery{
    margin-top: 80px;
 }
 /*9*-------------------------------------------------------------------------------------*9*/

 
/*Textio Galeria*10*----------------------------------------------------------------------*10*/
.estiloGalery{
    margin-top: auto;
    color: cornsilk;
    font-family: 'Arial','Lucida Sans', Verdana, Sans-serif;
}
/*10*-------------------------------------------------------------------------------------*10*/


/*Galeria*11*----------------------------------------------------------------------*11*/

.fundo{
    background-color: #220235;
}


.estiloGalery{
    margin-top: 100px;
    color: rgb(162, 176, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: auto;
}

.estiloGalery{
    animation: neon 1s alternate infinite ease-in-out;
}

.texto{
    --cor-neon: #2ee0ff;
}
/*11*-------------------------------------------------------------------------------------*11*/


/*imagem da ISO*12*----------------------------------------------------------------------*12*/
.imagKeyframe{
    --cor: #ffffff;
    animation: img 1s alternate infinite ease-in-out;
}
/*12*-------------------------------------------------------------------------------------*12*/


/*keyframes*13*----------------------------------------------------------------------*13*/
@keyframes neon{
    from{
        filter: drop-shadow(0 0 3px var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 3px 11px var(--cor-neon));
    }
}

@keyframes img{
    from{
        filter: drop-shadow(0 0 2px var(--cor));
    }
    to{
        filter: drop-shadow(0 0 10px var(--cor));
    }
}

@keyframes whapp{
    from{
        filter: drop-shadow(0 0 2px var(--corWhapp));
    }
    to{
        filter: drop-shadow(0 0 15px var(--corWhapp));
    }
}

@keyframes redes{
    from{
        filter: drop-shadow(0 0 3px var(--cor-neon2));
    }
    to{
        filter: drop-shadow(0 0px 5px var(--cor-neon2));
    }
}
/*13*-------------------------------------------------------------------------------------*13*/




/*Textos Galeria*11*----------------------------------------------------------------------*11*/
/*REDES*********************************************************/
@keyframes redes{
    from{
        filter: drop-shadow(0 0 1px var(--cor-neon2));
    }
    to{
        filter: drop-shadow(0 0px 0px var(--cor-neon2));
    }
}
.neonP{
    font-family: 'Elephant', 'Arial', 'Verdana';
    color: #b4bfdb;
    --cor-neon2: #112f80;
    animation: redes 1s alternate infinite ease-in-out;
    font-size: 40px;
}
/*REDES*********************************************************/



/*TELAS*********************************************************/
@keyframes telas{
    from{
        filter: drop-shadow(0 0 1px var(--cor-neon3));
    }
    to{
        filter: drop-shadow(0 0px 0px var(--cor-neon3));
    }
}
.neonP2{
    font-family: 'Elephant', 'Arial', 'Verdana';
    color: #f9b1fd;
    --cor-neon3: #bb00c5;
    animation: telas 1s alternate infinite ease-in-out;
    font-size: 40px;
}
/*TELAS*********************************************************/



/*GRADES*********************************************************/
@keyframes grades{
    from{
        filter: drop-shadow(0 0 3px var(--cor-neon4));
    }
    to{
        filter: drop-shadow(0 0px 0px var(--cor-neon4));
    }
}
.neonP3{
    font-family: 'Elephant', 'Arial', 'Verdana';
    color: #fef58c;
    --cor-neon4: #fef58c;
    animation: grades 1s alternate infinite ease-in-out;
    font-size: 40px;
}
/*GRADES*********************************************************/



/*VARAIS*********************************************************/
@keyframes varais{
    from{
        filter: drop-shadow(0 0 3px var(--cor-neon5));
    }
    to{
        filter: drop-shadow(0 0px 0px var(--cor-neon5));
    }
}
.neonP4{
    font-family: 'Elephant', 'Arial', 'Verdana';
    color: #b2fa9c;
    --cor-neon5: #35d803;
    animation: varais 1s alternate infinite ease-in-out;
    font-size: 40px;
}
/*VARAIS*********************************************************/


/*CERCAS*********************************************************/
@keyframes cercas{
    from{
        filter: drop-shadow(0 0 1px var(--cor-neon6));
    }
    to{
        filter: drop-shadow(0 0px 0px var(--cor-neon6));
    }
}
.neonP5{
    font-family: 'Elephant', 'Arial', 'Verdana';
    color: #d79573;
    --cor-neon6: #f5a47c;
    animation: cercas 1s alternate infinite ease-in-out;
    font-size: 40px;
}
/*CERCAS*********************************************************/
/*11*-------------------------------------------------------------------------------------*11*/